/* =============================================== 
	Fecha: 31/03/2017
	Autor: MAMG 
	===============================================*/
header{
	display: flex;
	flex-direction: row;
	background-color: black;
	color: #ffc107;
	justify-content: space-between;
	align-items: center;
}
h1{
	font-family: 'Spirax', cursive;
	font-size: 2.8em;
}
body{
	background-color: black;
	font-family: 'Arimo', sans-serif;
}
section{
	/* border: 2px dotted red; */
	border-radius: 10px;
}
footer{
	color: grey;
	text-align: right;
}
.btn{
	width: 100px;
	height: 2em;
	border: 3px solid black;
	border-radius: 5px;
	margin: 10px;
	padding:  5px;
	font-size: 18px;
	font-family: 'Denk One', sans-serif;
	font-weight: bold;
	background-color: #ffc107;
}
.btn:hover{
	opacity: 0.8;
	border: 3px solid lightgray;
}
.contenedor{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#jugador, #maquina{
	display: flex;
	flex-direction: column;
	width: 45%;
	height: 85vh;
	background-color: green;
	border: 2px solid black;
	border-radius: 10px;
}

#botonera, #cuentajugador, #cuentamaquina{
	width: 30%;
	font-size: 18px;
	font-family: 'Denk One', sans-serif;
	font-weight: bold;
	height: auto;
}

#carta, #cartasjugador, #cartamaquina, #cartasmaquina{
	width: 70%;
}
#cartasjugador, #cartasmaquina{
	height: 50vh;
}

#carta,#cartamaquina{
	height: 25vh;
}

#cuentajugador, #cuentamaquina{
	color: #ffc107;
	padding: 2em;
	text-align: center;
	font-size: 2em;
}

#gameover{
	z-index: 3;
	display: none;
	position: absolute;
	left: 30%;
	top: 30vh;
	width: 40%;
	height: 30vh;
	border: 10px double black;
	background-color: #ffc107;
	color: black;
	padding-top: 32px;
	font-size: 24px;
	font-family: 'Denk One', sans-serif;
	font-weight: bold;
	text-align: center;
}

#btncerrar{
	position: absolute;
	top:0;
	right: 0;
	width:auto;
	height:auto;
	border: 1px solid black;
	border-top: 0;
	border-right: 0;
	padding: 2px 5px 2px 5px;
}